.form-name{
    height: 40%;
    max-height: 700px;
    padding: 1rem;
}

.greet{
    color: white;
    font-size: 2rem;
}

.info{
    color: white;
    font-size: 4rem;
}

.form-input{
    width: 70%;
    text-align: center;
}
.input-name{
    background: transparent;
    width: 50%;
    border: none;
    border-bottom: 2px solid white;
    padding: 1rem;
    font-size: 3rem;
    color: white;
    outline: none;
}

.input:focus {
    border-bottom: 2px solid lightblue;
}